IC - Universo - Git/Assets/Scripts/NewEmptyCSharpScript.cs
IC - Universo - Git/Assets/Scripts/NewEmptyCSharpScript.cs.meta
IC - Universo - Git/Assets/Scripts/NewEmptyCSharpScript.cs
IC - Universo - Git/Assets/Scripts/NewEmptyCSharpScript.cs
